.form-container {
  margin-top: 0%;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-select option {
  font-size: 2em;
  appearance: none;
  font-weight:400;
}

.form-container2 {
  margin-top: 0%;
  width: 800px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  background: linear-gradient(
    90deg,
    rgb(173, 216, 230) 0%,
    rgb(160, 210, 226) 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 70%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 40%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(178, 178, 178) 0%,
    rgb(178, 178, 178) 100%
  );
}

.form-content-right2 {
  margin-left: 25rem;
  margin-bottom: 3rem;
  width: 950px;
  height: 930px;
  justify-content: center;
  position: center;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    90deg,
    rgb(178, 178, 178) 0%,
    rgb(178, 178, 178) 100%
  );
}

.form-content-right3 {
  margin-left: 25rem;
  margin-bottom: 3rem;
  width: 950px;
  height: 760px;
  justify-content: center;
  position: center;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(
    90deg,
    rgb(178, 178, 178) 0%,
    rgb(178, 178, 178) 100%
  );
}

.contenedor{
  margin-top: 3rem;
}


.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1{
  font-size: 1.5rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;

}

.form-content-right2 p {
  font-size: 1.6rem;
  text-align: start;
  width: 100%;
  margin-bottom: 1.5rem;
  color: #fff;
}

.form-content-right3 p {
  font-size: 1.6rem;
  text-align: start;
  width: 100%;
  margin-bottom: 1.5rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
  justify-content: right;
}

.form-inputs2 {
  margin-bottom: 1rem;
  margin-left: 9rem;
  width: 80%;
  justify-content: center;
}

.form-inputs2 select{
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  font-size: 1.5rem;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-labelFirst {
  margin-top: 3rem;
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  font-size: 1.5rem;
}

.form-input::placeholder {
  color: #595959;
  font-size: 14px;
}

.form-control::placeholder {
  color: #595959;
  font-size: 14px;
}


.form-inputSelected {
  color: #595959;
  font-size: 14px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(56, 154, 186) 0%,
    rgb(173, 216, 230) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.form-input-btn4 Link{
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(200, 154, 186) 0%,
    rgb(173, 216, 230) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn2 {
  margin-left: 35rem;
  width: 20%;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(0, 168, 84) 0%,
    rgb(0, 164, 82) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
}

.form-input-btn2:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
